<header class='route-header'><h1><span>Your Dashboard</span></h1></header>
<section>
  {{#each postData}}
    <div class='post my-post'>
      <header>
        <h2>{{title}}</h2>
        <div>Posted by {{user.name}} on {{createdAt}}</div>
      </header>
      <p>{{post}}</p>
    </div>
  {{/each}}
</section>
<button id='newPostButton'>+ New Post</button>
<script defer src='./js/dashboard.js'></script>