<header class='route-header'><h1><span>The Tech Blog</span></h1></header>
{{! insert dynamic posts here }}
{{#each postData}}
  {{#if myPost}}
    <div class='post my-post'>
  {{else}}
    <div class='post'>
  {{/if}}
    <header>
      <h2>{{title}}</h2>
      <div>Posted by {{[user.name]}} on {{createdAt}}</div>
    </header>
    <p>{{post}}</p>
  </div>
{{/each}}