<header class='route-header'><h1><span>The Tech Blog</span></h1></header>
<div>
  <form class='signup-form'>
    <header>
      <h2>Sign Up</h2>
    </header>
    <div>
      <div class='form-input'>
        <label for='name-signup'>Name</label>
        <input type='text' id='name-signup' />
      </div>
      <div class='form-input'>
        <label for='email-signup'>Email</label>
        <input type='text' id='email-signup' />
      </div>
      <div class='form-input'>
        <label for='password-signup'>Password</label>
        <input type='password' id='password-signup' />
      </div>
      <div class='form-input'>
        <button type='submit'>Sign Up</button>
      </div>
      <div><a href='/login'>Login Instead</a></div>
    </div>
  </form>
</div>

<script src='./js/signup.js'></script>
<link rel='stylesheet' href='./css/login-signup.css' />