form {
  margin: 2rem;
  border: 0.2rem solid black;
}

form h2 {
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--accent-color);
}

form > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > div > div.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form button {
  border: none;
  background-color: #666;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

form a {
  text-decoration: none;
  color: blue;
  margin-bottom: 2rem;
}
